
.body{
    background-color: rgb(51, 57, 63);
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top:180px;
    margin-bottom: 5px;
}
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 180px;
    margin-bottom: auto;
    margin-left: 150px;
    margin-right: auto;
    display: block;
    position: relative;
}
.nav{
    display: block;
    position: absolute;
    margin-right: 0px;
    margin-left: 1150px;
    bottom: auto;
    top: 150px;   
}
a{
    padding: 5px;
}
a:hover {
    background-color: slategray;
}
a:visited {
    color: white;
}
a:hover {
    color: skyblue;
}
.about{
    background-color: white;
    width: 1520px;
    height: 500px;
    position: absolute;
    margin-top: 500px;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.History{

    padding: 100px;
    margin-left: 125px; 
}
.P1{
    width: 33%;
    float: left;
}
.footer{
    width: 1520px;
    height: 50px;
    
}







