*{
    margin: 0px;
    padding: 0px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top:180px;
    margin-bottom: 5px;
}
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 180px;
    margin-left: 150px;
    display: block;
    position: relative;
}
.nav{
    
    display: block;
    position: relative;
    float: right;
    top: 150px;   
}
a{
    text-decoration: unset;
    padding: 5px;
}
a:hover {
    background-color: slategray;
}
a:visited {
    color: white;
}
a:hover {
    color: skyblue;
}
.content{
    position: relative;
    top: 500px;
    width: 1525px;
    height: 600px;
    display: block;
}
.title{
    text-decoration: underline;
    position: relative;
    padding: 20px;
    color: rgb(65, 69, 73);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: block;
}
input[type=text], select {
    width: 500px;
    padding: 10px ;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.message{
    height: 100px;
}  

input[type=submit] {
    width: 500px;
    background-color: #484b48;
    color: white;
    padding: 14px ;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #2c8b2f;
}
  
.form{
    position: relative;
    margin: 10px;
    width: 500px;
    margin-left: 300px;
    border: 2px solid rgb(66, 65, 65);
    padding: 20px;
}
.our{
    position: relative;
    float: right;
    margin-right: 100px;
    padding: 10px;
}
p{
    color: rgb(65, 69, 73);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.Tel{
    color: rgb(78, 86, 95);
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.address{
    color: rgb(82, 88, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
}
.icon{
    padding: 10px;
    position: relative;
    display: block;
    float: right,
}
a{
    padding: 5px;
}
.follow{
    margin: 5px;
    color: rgb(82, 88, 95);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
