*{
box-sizing: inherit;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top:180px;
    margin-bottom: 5px;
}
.tm-header{
    background-image: url(picture/Siam-Reap-Restaurants.jpg);
    text-shadow: 3px 3px 5px black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 180px;
    margin-left: 150px;
    display: block;
    position: relative;
}
.nav{
    display: block;
    position: relative;
    float: right;
    top: 150px;   
}
.btn{
    width: 100px;
    height: 40px;
}
a{
    padding: 1px;
    text-decoration: none;
}
.bnt:active{
    background-color: yellow;
}
.btn:hover {
    color:white;
    background-color: green;
    cursor: pointer;
   
}
.link{
    color: slategray;
    display: block;
    float: left;
    width: 20%;
    height: 900px;
}

.p1{
    margin-top: 5px;
    background-color: tan;
    display: block;
    width: 100%;
}
.group1{
    float: left;
    display: block;
    width: 80%;
}
.group2{
    display: block;
    margin-left: 60px;
    margin-right: 60px;
}
.p2{
    margin: 15px;
    float: left;
    border: 1px solid #ccc;
    width: 250px;
    height: 330px;
    font-family: "Lobster";
    padding: 30px;
}
p{
    color: tomato;
    font-size: 20px;
}
.footer{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 203, 120);
    color: white;
 
}