*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(51, 57, 63);
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    margin-top:180px;
    margin-bottom: 5px;
}
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-top: 180px;
    margin-bottom: auto;
    margin-left: 150px;
    margin-right: auto;
    display: block;
    position: relative;
}
.nav{
    display: block;
    position: absolute;
    margin-right: 5px;
    margin-left: 1100px;
    bottom: auto;
    top: 150px;   
}
a:hover {
    background-color: slategray;
}
a:visited {
    color: white;
}
a:hover {
    color: skyblue;
}
.Menu{
    display: block;
    position: absolute;
    background-color:rgb(43, 40, 40);
    width: 305px;
    height: 900px;
    margin-top: 520px;
    margin-bottom: 500px;
    float: left;
    color: aliceblue;


}
p{
    text-decoration: solid;
    font-family:serif ;
    font-size: 50px;
    text-align: center;
}
ul{
    font-size: 30px;
}
.main_content{
    display: block;
    position: absolute;
    background-color:rgb(43, 40, 40);
    width: 1180px;
    height: 900px;
    margin-top: 520px;
    margin-left: 320px;
    margin-bottom: 500px;
    float: left;
}
img{
    margin:20px 20px;
}