*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(51, 57, 63);
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    margin-top: 0px;
    margin-bottom: auto;
}
.name{
    
    color: seashell;
    font-family: cursive;
    position: relative;
    margin-top: 30px;
    margin-left: 70px;
}
.header{
    background-color: rgb(22, 21, 21);
    position: absolute;
    float: left;
    width: 1520px;
    height: 120px;
}
.nav{

    list-style-type: none;
    margin-left: 1310px;
    margin-right: 0px;
    margin-top: 60px;
    margin-bottom: auto;
    display: block;
    position: absolute;
}
a{
    padding: 5px;
}
a:active{
    background-color: yellow;
}
a:hover {
    background-color: slategray;
}
a:visited {
    color: rgb(168, 163, 159);
}
a:hover {
    color: skyblue;
}
.background{
    
    margin-top: 120px;
}
.Paragraph{
    font-family: cursive;
    display: block;
    margin-bottom: auto;
    margin-top: 300px;
    margin-left: 500px;
    margin-right: 500px;
}
h2{
    color: seashell;
}
.content{
    color: lightblue;
}
.block-footer{
    background-color: rgb(75, 83, 90);
    margin-bottom: auto;
    margin-top: 820px;
    float: left;
    display: block;
    width: 1520px;
    height: 200px;
}
.icon{
    top: 70px;
    margin-left: 300px;
    display: block;
    position: absolute;
    float: left;
    padding: 50px;

}
.footer-address{
    margin-left: 100px;
    padding: 50px;
    float: left;
    position: absolute;
    display: block;
}

p{
    font-family: cursive;
    color: azure;
}
.footer-contact{
    margin-left: 300px;
    padding: 50px;
    float: left;
    position: absolute;
    display: block;
}
input[type=text] {
    margin-top: 90PX;
    margin-left: 600px;
    position: absolute;
    width: 500px;
    height: 40PX;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text], select, textarea {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 90px;
    margin-right: 300px;
    float: right;
}
label{
    font-family: cursive;
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
    color: ivory;
}