.Menu{
    display: block;
    position: absolute;
    background-color:rgb(43, 40, 40);
    width: 305px;
    height: 900px;
    margin-top: 520px;
    margin-bottom: 500px;
    margin-right: 100px;
    float: left;
    color: aliceblue;
}
.container{
float: left; 
width: 75%;
height:1000px;
background-color:pink;
}
.food{
    width: 33%;
    float: left;
}
.link{
    width:25%;
    float: left;
<<<<<<< HEAD
    margin-top: 10px;

=======
    background-color: red;
>>>>>>> 7aa82fceaec1e695de0ee685f77943235b80a0ec
}






