.Menu{
    display: block;
    position: absolute;
    background-color:rgb(43, 40, 40);
    width: 305px;
    height: 900px;
    margin-top: 520px;
    margin-bottom: 500px;
    margin-right: 100px;
    float: left;
    color: aliceblue;


}

ul{
    font-size: 30px;
}
.main_content{
    background-color:rgb(43, 40, 40);
    height: 900px;
    float: left;
    background-color: yellow;
}
.pf1{
    position: absolute;
    margin-left: 100px;
    padding: 20px;
    display: block;
    float: left;
    margin-top: 10px;

}
p{
}


